.area-info-container{width: 1200px;margin: auto;margin-top: 10px;}
.area-info-fl{width: 288px;background-color: white;}
.area-info-fr{width: 898px;background-color: white;padding-top: 24px;}

.area-info-fr-01{width: 90%;margin: auto;height: 34px;line-height: 34px;border-bottom: 2px solid #f3f3f3;}
.area-info-fr-01-span{height: 34px;line-height: 34px;border-bottom: 2px solid #6cacf8;display: inline-block;padding-left: 6px;padding-right: 17px;}
.area-content{width: 90%;height:366px;border: 1px solid  #f3f3f3;margin: auto;margin-top: 23px;}
.area-content-top-container{width: 95%;margin: auto;}
.area-content-top{margin-top: 10px;line-height: 40px;}
.area-content-top-container-t1-fl{font-size: 16px;color: #333333;}
.span-n-01{font-size: 30px;color: #0187f5;}
.area-content-top-container-t1-fr-fl{font-size: 16px;color: #333333;}
.area-content-top-container-t1-fr-fl:nth-child(2){margin-left:40px; }
.area-info-area{height:320px;width: 100%; }
#table{height: 100%;}