html{background-color: #edf4fa;}
.classify-content{width: 100%;background-color: #edf4fa;padding-bottom:56px; }
.classify-container{width:100%;padding-top: 30px;}
.classify-01{width:1063px;margin: auto; }
.classify-01-fl a , .classify-02-fl a{text-decoration: none;width: 100%;height: 100%;display: inline-block;}
.classify-01-fl-t{font-size: 28px;line-height: 100%;color: #333333;text-align: center;}
.classify-01-fl:nth-child(2){ margin-left: 212px;margin-right: 233px;}
.classify-01-fl-img{
    transition: all 0.4s ease-in 0.02s;
    -webkit-transition:all 0.4s ease-in 0.02s;
    -o-transition:all 0.4s ease-in 0.02s;
    -moz-transition: all 0.4s ease-in 0.02s;
}
.classify-01-fl:hover .classify-01-fl-img{
    transform:rotateY(360deg);
    -ms-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
    -webkit-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);*/
    /*border: 0px;*/
}
.classify-02{width: 1200px;margin: auto;margin-top: 88px;}
.classify-02-fl{width: 185px;background-color: white;text-align: center;margin-left: 9px;margin-right: 9px;}
.classify-02-fl-img{vertical-align: middle;}
.classify-02-fl:nth-child(1){margin-left: 0;}
.classify-02-fl:first-child{margin-left: 0;}
/*.classify-02-fl:nth-last-child(1){margin-right: 0;}*/
.classify-02-fl:nth-child(6n){margin-right: 0;}
.classify-02-fl:nth-child(6n+1){margin-left: 0;}
.classify-02-fl:nth-child(n+7){margin-top: 10px}


.classify-02-fl-t{font-size: 18px;color: #333333;line-height: 100%;margin-top: 8px;padding-bottom: 22px;}

/*修改*/
.classify-01{width: 55%;}
.classify-01-fl{width: 19%;}
.classify-01-fl-img{width: 100%;}
.classify-01-fl:nth-child(2){margin-left: 19.9%;margin-right: 21.9%;}
.classify-01-fl-02{margin-left: 19.9%;margin-right: 21.9%;}
.classify-02{width: 62.5%;}
.classify-02-fl{width:15.4%;margin-left: 0.75%;margin-right: 0.75%;}
.classify-02-fl-img{width: 28%;}


/*每日提醒*/
.remind-container{width: 100%;background-color: white;}
.remind{width: 1200px;;margin: auto;}
.remind-f{width: 597px;}
.remind-f-top{height: 72px;line-height: 72px;color: #333333;font-size: 24px;border-bottom: 1px solid #e9e9e9; }
.remind-f-top-span{width: 5px;height: 28px;background-color: #ffaa00;display: inline-block;margin-left: 4px;margin-right: 13px;}
.remind-f-content01{margin-top: 57px;}
.remind-f-content01-fl{width: 150px;border: 1px solid #f7f7f7;height: 89px;line-height: 89px;text-align: center;color: white;font-size: 18px;margin-left: 12px;}
.remind-f-content01-fl01{background: url("../img/index/remind-bg01.jpg");background-repeat: repeat;margin-left: 37px;}
.remind-f-content01-fl02{background: url("../img/index/remind-bg02.jpg");background-repeat: repeat;}
.remind-f-content01-fl03{background: url("../img/index/remind-bg03.jpg");background-repeat: repeat;}
.remind-f-content01-fl:hover{cursor: pointer;}
.remind-f-top-span02{background-color: #26a3f8;}
.remind-f-content02-fl{width: 100px;height: 100px;box-shadow:#e7edf0 0 0 15px; text-align: center;background-color: white;line-height: 100px;}
.remind-f-content02-fl:hover{cursor: pointer;}
.remind-f-content02-fl-img{vertical-align: middle;margin-top: 28px;}
.remind-f-content02{margin-top: 43px;}
.remind-f-content02-fl-tt{text-align: center;font-size: 19px;color: #333333;line-height: 100%;margin-top: 16px;}
.remind-f-content02-fl-container{margin-left: 73px;width: 100px;}
/*实时状况*/
.status-contaienr{background-color: white;padding-bottom: 60px;padding-top: 57px;}
.status-contaienr-content{width: 1200px;margin: auto;}
.remind-f-top-span03{background-color: #16de8e;margin-left: 2px;}
.status-list{width: 1080px;margin: auto;}
.status-list-item{position: relative;width:100%;margin: auto;border-bottom: 1px solid #d3d3d3;}
.status-list-item-fl{position: absolute;left: -39px;top: 11px;}
.status-list-item-fr{width: 100%;line-height: 45px;color: #333333;font-size: 22px;}
.s-item-img{vertical-align: middle;margin-right: 23px;}
.status-l-item-fr-t{width: 32.8%;}
.status-l-item-fr-t02{text-align: center;}
.status-l-item-fr-t03{text-align: right;}
.status-list-item{margin-top: 33px;}
