.row-menu-container{width: 100%;background-color: #009af8;height:122px;}
.row-menu{width: 777px;margin: auto;}
.row-menu-list{position:relative;z-index:2;width: 168px;height: 68px;background-color: white;border-radius: 10px;line-height: 68px;font-size: 18px;color: #333333;text-align: center;margin-left: 17px;margin-right: 17px;margin-top: 29px;}
.row-menu-list-img{vertical-align: middle;margin-right: 12px;}
.row-menu-list-img03{margin-right: 19px;}
.row-menu-list:nth-child(1){margin-left: 0;}
.row-menu-list:nth-last-child(1){margin-right: 0;}
.row-menu-list:hover{cursor: pointer;background-color:#ffc700;color: white;}
.row-menu-list-active{background-color:#ffc700;color: white; }
.row-menu-list-add{background-color:#ffc700;color: white;}
.row-menu-item-container{width: 1200px;margin: auto;padding-bottom: 65px;}
.menu-item-list-container{width: 1087px;margin-left:57px;margin-top: 12px; }
.menu-item-list{margin-top: 13px;}
.menu-item-list-title{height: 66px;line-height: 66px;}
.menu-item-list-title:hover{cursor: pointer;}
.menu-item-list-title-fl{font-size: 24px;color: #333333;margin-left: 46px;}
.menu-item-list-title-fr-img{vertical-align: middle;
    transition:all 0.4s ease-in 0.02s;
    -webkit-transition:all 0.4s ease-in 0.02s;
    -moz-transition:all 0.4s ease-in 0.02s;
    -o-transition:all 0.4s ease-in 0.02s;
}
.menu-item-list-title-fr-img-add{
    transform:rotate(-90deg) ;
    -webkit-transform:rotate(-90deg) ;
    -moz-transform:rotate(-90deg) ;
    -o-transform:rotate(-90deg) ;
    -ms-transform:rotate(-90deg) ;
}
.menu-item-list-title-fr{margin-right: 42px;}
.menu-item-list-content-list{background-color: white;line-height: 100%;padding-top: 28px;padding-bottom: 19px;margin-top: 1px;}
.menu-item-list-content-list:nth-child(1){margin-top: 0;}
.menu-item-list-content-list-fl{margin-left: 45px;font-size: 22px;color: #333333;}
.menu-item-list-content-list-fr{margin-right: 43px;font-size: 20px;color: #999999;}
.milclf-img{margin-left: 22px;}


.menu-item-list-content{display: none;}
.menu-item-list-title-fr-img-add02 .menu-item-list-title-fr-img{transform: rotate(-90deg);}


