@media screen and (max-width:1366px) and (min-width:992px){
    /*列表*/
    .col-container{width: 990px;}
    .col-container-item{width: 960px;margin-left: 10px;}

}
@media screen and (max-width:992px) and (min-width:768px){
    /*列表*/
    .col-container{width: 100%;}
    .col-container-item{width: 100%;margin-left: 0;}
    .type{width: auto;}
}
@media screen and (max-width:768px) and (min-width:620px){
    /*列表*/
    .col-container{width: 100%;}
    .col-container-item{width: 100%;margin-left: 0;}
    .col-container-item-fr-t1, .col-container-item-fr-t2{font-size: 18px;}
    .type{width: auto;}
}
@media screen and (max-width:620px) and (min-width:480px){
    /*列表*/
    .col-container{width: 100%;}
    .col-container-item{width: 100%;margin-left: 0;}
    .col-container-item-fr-t1, .col-container-item-fr-t2{font-size: 16px;}
    .col-container-item-fl{width: 10%;}
    .col-container-item-fl-img{width: 100%;}
    .type{width: auto;}
}
@media screen and (max-width:480px) and (min-width:360px){
    /*列表*/
    .col-container{width: 100%;padding-bottom: 40px;}
    .col-container-item{width: 100%;margin-left: 0;height: 102px;}
    .col-container-item-fr-t1, .col-container-item-fr-t2{font-size: 14px;}
    .col-container-item-fl{width: 10%;line-height: 102px;}
    .col-container-item-fl-img{width: 100%;}
    .col-container-item-fr-t1{margin-top: 25px;}
    .type{width: auto;}


    /*新搜索*/
    .new-search{width: 100%;height: 39px;background-color:#009ef9;padding-top: 10px; display: block;}
    .new-search-input{width: 90%;margin: auto;height: 30px;line-height: 30px;background-color: #eff5fa;}
    .new-search-input-img{width:16px; vertical-align: middle;margin-left: 15px;}
    .new-search-input-i{margin-left: 2%;width: 75%;outline: none;background-color:#eff5fa;color: #333; font-size: 14px;border: none;height: 25px;line-height: 25px;}
    .new-search-input-i::placeholder{text-align: center;font-size: 12px;color: #959595;}
    .new-search-input-i::-webkit-input-placeholder{text-align: center;font-size: 12px;color: #959595;}
    .new-search-input-i:-ms-input-placeholder{text-align: center;font-size: 12px;color: #959595;}
    .new-search-input-i:-moz-placeholder {text-align: center;font-size: 12px;color: #959595;}
    .new-search-input-i::-moz-placeholder{text-align: center;font-size: 12px;color: #959595;}

    /*列表*/
    .col-container-item{margin-top: 10px;}
    .col-container{padding-top: 0;}
    .col-container-item{height: 72px;}
    .col-container-item:first-child{margin-top: 0;}
    .col-container-item-fl-img-adds01{display: none}
    .col-container-item-fl-img-adds{display: inline-block;}
    .col-container-item-fl{line-height: 72px;height: 72px;}
    .col-container-item-fr-t1{margin-top: 0;}
    .col-container-item-fr-t2{margin-top: 13px}
    .col-container-item-fr{border-left: 1px solid  #7ecbff;    margin-top: 16px;    padding-left: 10px;}
    .col-container-item-fl-img {width: 60%;}
    .col-container-item-fl{margin-left: 3.986%;margin-right: 3.466%;text-align: center;}
    .col-container-item-fr-t1, .col-container-item-fr-t2{font-size: 12px;}
    .col-container-item{margin-top: 6px;}






}
@media screen and (max-width:360px){
    /*列表*/
    .col-container{width: 100%;padding-bottom: 40px;}
    .col-container-item{width: 100%;margin-left: 0;height: 82px;}
    .col-container-item-fr-t1, .col-container-item-fr-t2{font-size: 12px;}
    .col-container-item-fl{width: 10%;line-height: 82px;}
    .col-container-item-fl-img{width: 100%;}
    .col-container-item-fr-t1{margin-top: 25px;}
    .col-container-item-fr-t2{margin-top: 15px;}
    .type{width: auto;}



    /*新搜索*/
    .new-search{width: 100%;height: 39px;background-color:#009ef9;padding-top: 10px; display: block;}
    .new-search-input{width: 90%;margin: auto;height: 30px;line-height: 30px;background-color: #eff5fa;}
    .new-search-input-img{width:16px; vertical-align: middle;margin-left: 15px;}
    .new-search-input-i{margin-left: 2%;width: 75%;outline: none;background-color:#eff5fa;color: #333; font-size: 14px;border: none;height: 25px;line-height: 25px;}
    .new-search-input-i::placeholder{text-align: center;font-size: 12px;color: #959595;}
    .new-search-input-i::-webkit-input-placeholder{text-align: center;font-size: 12px;color: #959595;}
    .new-search-input-i:-ms-input-placeholder{text-align: center;font-size: 12px;color: #959595;}
    .new-search-input-i:-moz-placeholder {text-align: center;font-size: 12px;color: #959595;}
    .new-search-input-i::-moz-placeholder{text-align: center;font-size: 12px;color: #959595;}


    /*列表*/
    .col-container-item{margin-top: 10px;}
    .col-container{padding-top: 0;}
    .col-container-item{height: 72px;}
    .col-container-item:first-child{margin-top: 0;}
    .col-container-item-fl-img-adds01{display: none}
    .col-container-item-fl-img-adds{display: inline-block;}
    .col-container-item-fl{line-height: 72px;height: 72px;}
    .col-container-item-fr-t1{margin-top: 0;}
    .col-container-item-fr-t2{margin-top: 13px}
    .col-container-item-fr{border-left: 1px solid  #7ecbff;    margin-top: 16px;    padding-left: 10px;}
    .col-container-item-fl-img {width: 60%;}
    .col-container-item-fl{margin-left: 3.986%;margin-right: 3.466%;text-align: center;}
    .col-container-item-fr-t1, .col-container-item-fr-t2{font-size: 12px;}
    .col-container-item{margin-top: 6px;}



}