@media screen and (max-width:1366px) and (min-width:1200px){
    body{overflow-x: hidden;}
    /*日期选择移位*/
    .data-add{margin-left: -80px;}
    /*大框*/
    .info-container{width: 100%;}
    .type{width: 100%;}

}

@media screen and (max-width:1200px) and (min-width:992px){
    body{overflow-x: hidden;}
    /*日期选择移位*/
    .data-add{margin-left: -80px;}
    /*大框*/
    .info-container{width: 100%;}
    .type{width: 100%;}

    /*模块一*/
    .info-02-mode-fl{width: 29%;}
    .info-02-mode-fr{width: 70%;}
    .info-02-mode-fl-02 , .info-02-mode-fl-01{margin-left: 34%;}
    .info-02-mode-fl-01{width: 70%;margin-top: 80px;}
    .info-02-mode-fl-02{width: 70%;}
    .info-02-mode-fl-02-span{font-size: 24px;}



    /*模块二*/
    .mode03-fl{width: 100%;}
    .mode03-fl:nth-child(n+2){margin-top: 15px;}


}

@media screen and (max-width:992px) and (min-width:768px){

    body{overflow-x: hidden;}
    /*日期选择移位*/
    .data-add{margin-left: -80px;}
    /*大框*/
    .info-container{width: 100%;}
    .type{width: 100%;}

    /*模块一*/
    .info-02-mode-fl{width: 40%;}
    .info-02-mode-fr{width: 59%;}
    .info-02-mode-fl-02 , .info-02-mode-fl-01{margin-left: 34%;}
    .info-02-mode-fl-01{width: 70%;margin-top: 80px;}
    .info-02-mode-fl-02{width: 70%;}
    .info-02-mode-fl-02-span{font-size: 24px;}



    /*模块二*/
    .mode03-fl{width: 100%;}
    .mode03-fl:nth-child(n+2){margin-top: 15px;}




}
@media screen and (max-width:768px) and (min-width:620px){


    body{overflow-x: hidden;}
    /*日期选择移位*/
    .data-add{margin-left: -80px;}
    /*大框*/
    .info-container{width: 100%;}
    .type{width: 100%;}
    .info-banner-fl{padding-right: 20px;}

    /*模块一*/
    .info-02-mode-fl{width: 100%;height: 277px;background-image: url("../img/info/mode-banner01.png");}
    .info-02-mode-fr{width: 100%;margin-top: 18px;}
    .info-02-mode-fl-01{width: 90%;text-align: right;margin-left: 0;margin-top: 174px;}
    .info-02-mode-fl-02{text-align: right;margin-left: 0;width: 90%;}



    /*模块二*/
    .mode03-fl{width: 100%;}
    .mode03-fl:nth-child(n+2){margin-top: 15px;}



}



@media screen and (max-width:620px) and (min-width:480px){

    /*banner*/
    .top-banner{width: 100%;background-image: url("../img/info/banner.jpg");height: 150px;line-height: 150px;display: none;}
    .return-container{display: none;}
    .type-container-zw{display: none;}
    .type-container{border: none;}
    .type{padding-left: 0;}
    .type-need{width: 50%;color: white;}
    .type-need:nth-child(1){background-image: url("../img/info/banner.jpg");background-size: 100% 100%;background-repeat: no-repeat;}
    .type-need:nth-child(2) a{color: #c4c9d0;}
    .type-need a{color: white;}




    body{overflow-x: hidden;background-color: #eff5fa;}

    /*大框*/
    .info-container{width: 100%;}
    .type{width: 100%;}
    .info-banner-fl{padding-right: 20px;}


    /*标题筛选*/
    .info-choose01{display: none;}
    .info-choose01-{display: block;width: 30%;left: 0;margin-right: 0;border: none;background-color: #eaeaea;height: 100%;margin-top:0;line-height: 46px;border-radius: 0;}
    .info-choose01-title{height: 46px;}
    .info-banner{border: none;height: auto;}
    .info-banner{width: 100%;}
    .info-banner-fr{width: 100%;}
    .info-banner-fl{display: none;}
    .info-choose01-t{line-height: 28px;}
    .info-choose01-title{line-height: 46px;}
    .info-choose01-title-img{    padding-top: 18px;}
    .info-choose02{width: 30%;margin-top: 0;border: none;height: 100%;}
    .info-choose02:nth-child(3){margin-left: 30%;}
    .c-datepicker-date-editor{height: 46px;line-height: 46px;}
    .info-choose04-img{top: 20px;    right: 22px;}
    .c-datepicker-data-input::placeholder{text-align: center;}
    .c-datepicker-data-input::-webkit-input-placeholder{text-align: center;}
    .c-datepicker-data-input::-moz-placeholder{text-align: center;}
    .c-datepicker-data-input:-ms-input-placeholder{text-align: center;}
    .c-datepicker-data-input.only-date{text-align: center;}
    .info-choose03{margin-top: 0;height: 46px;line-height: 46px;}
    .info-choose03-01{display: none;}
    .info-choose03-02{display: block;}

    /*日期*//*日期选择移位*/
    .data-add{left: 0;}
    .c-datepicker-date-picker.has-sidebar{width: 100%;left: 0;position: absolute;}



    /*模块一*/
    .info-02-mode-fl{width: 100%;height: 217px;background-image: url("../img/info/mode-banner01.png");}

    .info-02-mode-fr{width: 100%;margin-top: 18px;}
    .info-02-mode-fl-01{width: 90%;text-align: right;margin-left: 0;margin-top: 114px;}
    .info-02-mode-fl-02{text-align: right;margin-left: 0;width: 90%;}



    /*模块二*/
    .mode03-fl{width: 100%;}
    .mode03-fl:nth-child(n+2){margin-top: 15px;}
    .mode03-fl-content-fr{width:65%;}
    #bt{width: 100%;height:180px;}
    .mode03-fl-content-fr{margin-top: 30px;}








}
@media screen and (max-width:480px) and (min-width:360px){

    .new-search{display: none;}
    /*banner*/
    .top-banner{width: 100%;background-image: url("../img/info/banner.jpg");height: 150px;line-height: 150px;display: none;}
    .return-container{display: none;}
    .type-container-zw{display: none;}
    .type-container{border: none;}
    .type{padding-left: 0;}
    .type-need{width: 50%;color: white;}
    .type-need:nth-child(1){background-image: url("../img/info/banner.jpg");background-size: 100% 100%;background-repeat: no-repeat;}
    .type-need:nth-child(2) a{color: #c4c9d0;}
    .type-need a{color: white;}
    .type-container{display: block;}




    body{overflow-x: hidden;background-color: #eff5fa;}

    /*大框*/
    .info-container{width: 100%;}
    .type{width: 100%;}
    .info-banner-fl{padding-right: 20px;}


    /*标题筛选*/
    .info-choose01{display: none;}
    .info-choose01-{display: block;width: 30%;left: 0;margin-right: 0;border: none;background-color: #eaeaea;height: 100%;margin-top:0;line-height: 46px;border-radius: 0;}
    .info-choose01-title{height: 46px;}
    .info-banner{border: none;height: auto;}
    .info-banner{width: 100%;}
    .info-banner-fr{width: 100%;}
    .info-banner-fl{display: none;}
    .info-choose01-t{line-height: 28px;}
    .info-choose01-title{line-height: 46px;}
    .info-choose01-title-img{    padding-top: 18px;}
    .info-choose02{width: 30%;margin-top: 0;border: none;height: 100%;}
    .info-choose02:nth-child(3){margin-left: 30%;}
    .c-datepicker-date-editor{height: 46px;line-height: 46px;}
    .info-choose04-img{top: 20px;    right: 22px;}
    .c-datepicker-data-input::placeholder{text-align: center;}
    .c-datepicker-data-input::-webkit-input-placeholder{text-align: center;}
    .c-datepicker-data-input::-moz-placeholder{text-align: center;}
    .c-datepicker-data-input:-ms-input-placeholder{text-align: center;}
    .c-datepicker-data-input.only-date{text-align: center;}
    .info-choose03{margin-top: 0;height: 46px;line-height: 46px;}
    .info-choose03-01{display: none;}
    .info-choose03-02{display: block;}
    .info-choose01-{width: 28%;}
    .info-choose02{width: 28%;}
    .info-choose02:nth-child(3){margin-left: 28%;}
    .info-choose04-img{display: none;}
    .info-choose03-02{width: 3%;}

    /*日期*//*日期选择移位*/
    .data-add{left: 0;}
    .c-datepicker-date-picker.has-sidebar{width: 100%;left: 0;position: absolute;}



    /*模块一*/
    .info-02-mode-fl{width: 100%;height: 217px;background-image: url("../img/info/mode-banner01.png");}

    .info-02-mode-fr{width: 100%;margin-top: 18px;}
    .info-02-mode-fl-01{width: 90%;text-align: right;margin-left: 0;margin-top: 84px;}
    .info-02-mode-fl-02{text-align: right;margin-left: 0;width: 90%;}
    .info-02-mode-fl{height: 187px;}
    .info-02-mode-fr-list{height: 45px;}
    .info-02-mode-fr-list-fl{line-height: 45px;font-size: 14px;}
    .info-02-mode-fr-list-fl-img{width: 45px;height: 45px;margin-right: 5px;}
    .info-02-mode-fr-list-fr{margin-right: 5px;line-height: 45px;font-size: 14px;}
    .info-02-mode-fr-list-fr-span{font-size: 15px;}
    .mode03-fl-content-fl-list-t2{font-size: 14px;}
    .mode03-fl-content-fl{max-width: 30%;}
    .mode03-fl-content-fr{width: 70%;}



    /*模块二*/
    .mode03-fl{width: 100%;}
    .mode03-fl:nth-child(n+2){margin-top: 15px;}
    .mode03-fl-content-fr{width:65%;}
    #bt{width: 100%;height:180px;}
    .mode03-fl-content-fr{margin-top: 30px;}









}
@media screen and (max-width:360px){

    .new-search{display: none;}
    /*banner*/
    .top-banner{width: 100%;background-image: url("../img/info/banner.jpg");height: 150px;line-height: 150px;display: none;}
    .return-container{display: none;}
    .type-container-zw{display: none;}
    .type-container{border: none;}
    .type{padding-left: 0;}
    .type-need{width: 50%;color: white;}
    .type-need:nth-child(1){background-image: url("../img/info/banner.jpg");background-size: 100% 100%;background-repeat: no-repeat;}
    .type-need:nth-child(2) a{color: #c4c9d0;}
    .type-need a{color: white;}
    .type-container{display: block;}




    body{overflow-x: hidden;background-color: #eff5fa;}

    /*大框*/
    .info-container{width: 100%;}
    .type{width: 100%;}
    .info-banner-fl{padding-right: 20px;}


    /*标题筛选*/
    .info-choose01{display: none;}
    .info-choose01-{display: block;width: 30%;left: 0;margin-right: 0;border: none;background-color: #eaeaea;height: 100%;margin-top:0;line-height: 46px;border-radius: 0;}
    .info-choose01-title{height: 46px;}
    .info-banner{border: none;height: auto;}
    .info-banner{width: 100%;}
    .info-banner-fr{width: 100%;}
    .info-banner-fl{display: none;}
    .info-choose01-t{line-height: 28px;}
    .info-choose01-title{line-height: 46px;}
    .info-choose01-title-img{    padding-top: 18px;}
    .info-choose02{width: 30%;margin-top: 0;border: none;height: 100%;}
    .info-choose02:nth-child(3){margin-left: 30%;}
    .c-datepicker-date-editor{height: 46px;line-height: 46px;}
    .info-choose04-img{top: 20px;    right: 22px;}
    .c-datepicker-data-input::placeholder{text-align: center;}
    .c-datepicker-data-input::-webkit-input-placeholder{text-align: center;}
    .c-datepicker-data-input::-moz-placeholder{text-align: center;}
    .c-datepicker-data-input:-ms-input-placeholder{text-align: center;}
    .c-datepicker-data-input.only-date{text-align: center;}
    .info-choose03{margin-top: 0;height: 46px;line-height: 46px;}
    .info-choose03-01{display: none;}
    .info-choose03-02{display: block;}
    .info-choose01-{width: 28%;}
    .info-choose02{width: 28%;}
    .info-choose02:nth-child(3){margin-left: 28%;}
    .info-choose04-img{display: none;}
    .info-choose03-02{width: 3%;}

    /*日期*//*日期选择移位*/
    .data-add{left: 0;}
    .c-datepicker-date-picker.has-sidebar{width: 100%;left: 0;position: absolute;}



    /*模块一*/
    .info-02-mode-fl{width: 100%;height: 217px;background-image: url("../img/info/mode-banner01.png");}

    .info-02-mode-fr{width: 100%;margin-top: 18px;}
    .info-02-mode-fl-01{width: 90%;text-align: right;margin-left: 0;margin-top: 84px;}
    .info-02-mode-fl-02{text-align: right;margin-left: 0;width: 90%;}
    .info-02-mode-fl{height: 187px;}
    .info-02-mode-fr-list{height: 45px;}
    .info-02-mode-fr-list-fl{line-height: 45px;font-size: 14px;}
    .info-02-mode-fr-list-fl-img{width: 45px;height: 45px;margin-right: 5px;}
    .info-02-mode-fr-list-fr{margin-right: 5px;line-height: 45px;font-size: 14px;}
    .info-02-mode-fr-list-fr-span{font-size: 15px;}
    .mode03-fl-content-fl-list-t2{font-size: 14px;}
    .mode03-fl-content-fl{max-width: 30%;}
    .mode03-fl-content-fr{width: 70%;}



    /*模块二*/
    .mode03-fl{width: 100%;}
    .mode03-fl:nth-child(n+2){margin-top: 15px;}
    .mode03-fl-content-fr{width:65%;}
    #bt{width: 100%;height:180px;}
    .mode03-fl-content-fr{margin-top: 30px;}


}