@media screen and (max-width:1200px) and (min-width:992px){
   /*信息*/
    .row-menu-item-container{width: 100%;}
    .menu-item-list-container{width: 100%;margin-left: 0;}
}
@media screen and (max-width:992px) and (min-width:768px){
    /*信息*/
    .menu-item-list-container{width: 100%;margin-left: 0;}
    .menu-item-list-content{width: 100%;}
}
@media screen and (max-width:768px) and (min-width:620px){
    /*信息*/
    .row-menu-item-container{width: 100%;}
    .menu-item-list-container{width: 100%;margin-left: 0;}
}
@media screen and (max-width:620px) and (min-width:480px){
    /*信息*/
    .row-menu-item-container{width: 100%;}
    .menu-item-list-container{width: 100%;margin-left: 0;}
    .message-list-fl{font-size: 20px;}
    .message-list-fr{font-size: 18px;}
}
@media screen and (max-width:480px) and (min-width:360px){
    /*信息*/
    .row-menu-item-container{width: 100%;}
    .menu-item-list-container{width: 100%;margin-left: 0;}
    .message-list-fl{font-size: 18px;margin-left: 5%;}
    .message-list-fr{font-size: 14px;margin-right: 3%;}

    /*报告*/
    .report-list-fl{width: 15%;}
    .report-list{padding-top: 11px;}
    .report-list-fl{border-right: 1px solid #3475b4;}
    .report-list-fl-01-img{width: 25px;}
    .report-list-fl-02{color: #3475b4;font-size: 16px;}
    .report-list-fr{font-size: 15px;margin-left: 5%;}
    .report-list-fr-t1-{margin-top: 10px;}
    .report-title{font-size: 20px;}
    .report-title{font-size: 20px;margin-top: 16px;padding-bottom: 10px;}


    /*新列表*/
    .menu-item-list-container{margin-top: 10px;}
    .message-list-fl{font-size: 16px;}
    .message-list-fr{font-size: 13px;}
    .message-list{padding-top: 20px;padding-bottom: 20px;}
    .message-list:nth-child(2){margin-top: 1px;}
    .message-list:nth-child(n+3){margin-top: 6px;}
}
@media screen and (max-width:360px){
    /*信息*/
    .row-menu-item-container{width: 100%;}
    .menu-item-list-container{width: 100%;margin-left: 0;}
    .message-list-fl{font-size: 16px;margin-left: 5%;}
    .message-list-fr{font-size: 14px;margin-right: 4%;}

    /*报告*/
    .report-list-fl{width: 15%;}
    .report-list{padding-top: 11px;}
    .report-list-fl{border-right: 1px solid #3475b4;}
    .report-list-fl-01-img{width: 25px;}
    .report-list-fl-02{color: #3475b4;font-size: 16px;}
    .report-list-fr{font-size: 15px;margin-left: 5%;}
    .report-list-fr-t1-{margin-top: 10px;}
    .report-title{font-size: 20px;margin-top: 16px;padding-bottom: 10px;}


    /*新列表*/
    .menu-item-list-container{margin-top: 6px;}
    .message-list-fl{font-size: 16px;}
    .message-list-fr{font-size: 13px;}
    .message-list{padding-top: 20px;padding-bottom: 20px;}
    .message-list:nth-child(2){margin-top: 1px;}
    .message-list:nth-child(n+3){margin-top: 6px;}



}