@media screen and (max-width:1200px) and (min-width:992px){
    /*菜单一*/
    /*菜单内容*/
    .row-menu-item-container{width: 100%;}
    .menu-item-list-container{width: 100%;margin-left: 0;}
    .menu-item-list-content{width: 100%;}
}
@media screen and (max-width:992px) and (min-width:768px){
    /*菜单一*/
    .row-menu{width: 100%;}
    .row-menu-list{width: 21.6%;margin-left: 1.7%;margin-right: 1.7%;}
    .row-menu-list:nth-child(1){margin-left: 1.7%;}
    /*菜单内容*/
    .row-menu-item-container{width: 100%;}
    .menu-item-list-container{width: 100%;margin-left: 0;}
    .menu-item-list-content{width: 100%;}
}
@media screen and (max-width:768px) and (min-width:620px){
    /*菜单一*/
    .row-menu{width: 100%;}
    .row-menu-list{width: 21.6%;margin-left: 1.7%;margin-right: 1.7%;font-size: 14px;}
    .row-menu-list:nth-child(1){margin-left: 1.7%;}
    .row-menu-list-img{margin-right: 10px;}
    .row-menu-list-img03{margin-right: 10px;}
    /*菜单内容*/
    .row-menu-item-container{width: 100%;}
    .menu-item-list-container{width: 100%;margin-left: 0;}
    .menu-item-list-content{width: 100%;}
}
@media screen and (max-width:620px) and (min-width:480px){
    /*菜单一*/
    .row-menu{width: 100%;}
    .row-menu-list{width: 21.6%;margin-left: 1.7%;margin-right: 1.7%;font-size: 14px;height: 58px;line-height: 58px;margin-top: 19px;}
    .row-menu-list:nth-child(1){margin-left: 1.7%;}
    .row-menu-list-img{margin-right:5%;width: 20%;}
    .row-menu-list-img03{margin-right: 5%;}
    .row-menu-container{height: auto;padding-bottom: 19px;}
    /*菜单内容*/
    .row-menu-item-container{width: 100%;}
    .menu-item-list-container{width: 100%;margin-left: 0;}
    .menu-item-list-content{width: 100%;}
    .menu-item-list-title-fl{font-size: 22px;}
    .menu-item-list-content-list-fl{font-size: 20px;}
    .menu-item-list-content-list-fr{font-size: 18px;}
    .menu-item-list-title-fr-img{width: 9.6px;height:16px;}
    .milclf-img{width: 8px;height:12.8px;}



}
@media screen and (max-width:480px) and (min-width:360px){
    /*菜单一*/
    .row-menu{width: 100%;}
    .row-menu-list{width: 21.6%;margin-left: 1.7%;margin-right: 1.7%;font-size: 12px;height: 58px;line-height: 58px;margin-top: 19px;}
    .row-menu-list:nth-child(1){margin-left: 1.7%;}
    .row-menu-list-img{margin-right:5%;width: 20%;}
    .row-menu-list-img03{margin-right: 5%;}
    .row-menu-container{height: auto;padding-bottom: 19px;}
    /*菜单内容*/
    .row-menu-item-container{width: 100%;}
    .menu-item-list-container{width: 100%;margin-left: 0;}
    .menu-item-list-content{width: 100%;}
    .menu-item-list-title-fl{font-size: 20px;margin-left: 3%;}
    .menu-item-list-content-list-fl{font-size: 18px;margin-left: 5%;}
    .menu-item-list-content-list-fr{font-size: 16px;margin-right: 3%;}
    .menu-item-list-title-fr-img{width: 9.6px;height:16px;}
    .milclf-img{width: 8px;display: none;}
    .menu-item-list-title-fr{margin-right: 3%;}

    /*12.14菜单内容修改*/
    .menu-item-list-container{margin-top: 0;}
    .menu-item-list{margin-top: 5px;}
    .menu-item-list-title{line-height: 45px;height: 45px;}
    .menu-item-list-title-fl{font-size: 18px;}
    .menu-item-list-content-list-fl{font-size: 16px;}
    .menu-item-list-title-fr-img {width: 8px;height: 13.3px;}
    .menu-item-list-content-list{padding-top: 19px;}
    .milclf-img{display: inline-block;width: 7px;margin-left: 15px;    vertical-align: middle;}
    .menu-item-list-content-list-fr{line-height: 100%;}



    /*菜单一*/
    .row-menu{width: 100%;}
    .row-menu-list{width:35%;margin-left: 6.25%;margin-right: 6.25%;font-size: 12px;height: 50px;line-height: 50px;margin-top: 19px;}
    .row-menu-list:nth-child(1){margin-left:6.25%;}
    .row-menu-list-img{margin-right:5%;width: 20%;}
    .row-menu-list-img03{margin-right: 5%;}
    .row-menu-container{height: auto;padding-bottom: 19px;}



    /*四个图表12.13修改*/
    .row-menu-list{width: 55px;height: 55px;position: relative;margin-left: 3.6%;}
    .row-menu-list-t{display: block;position: absolute;width: 75px;left: 0;text-align: left;}
    .row-menu-list-img{    width: 50%;}
    .row-menu-container{padding-bottom: 39px;}
    .row-menu-list-t{color: white;}
    .row-menu-list-t-add{color: #ffc700;}



}
@media screen and (max-width:360px){
    /*菜单一*/
    .row-menu{width: 100%;}
    .row-menu-list{width:35%;margin-left: 6.25%;margin-right: 6.25%;font-size: 12px;height: 50px;line-height: 50px;margin-top: 19px;}
    .row-menu-list:nth-child(1){margin-left:6.25%;}
    .row-menu-list-img{margin-right:5%;width: 20%;}
    .row-menu-list-img03{margin-right: 5%;}
    .row-menu-container{height: auto;padding-bottom: 19px;}





    /*菜单内容*/
    .row-menu-item-container{width: 100%;}
    .menu-item-list-container{width: 100%;margin-left: 0;}
    .menu-item-list-content{width: 100%;}
    .menu-item-list-title-fl{font-size: 18px;margin-left: 3%;}
    .menu-item-list-content-list-fl{font-size: 16px;margin-left: 5%;}
    .menu-item-list-content-list-fr{font-size: 14px;margin-right: 4%;}
    .menu-item-list-title-fr-img{width: 9.6px;height:16px;}
    .milclf-img{width: 8px;height:12.8px;display: none;}
    .menu-item-list-title-fr{margin-right: 3%;}

    /*12.14菜单内容修改*/
    .menu-item-list-container{margin-top: 0;}
    .menu-item-list{margin-top: 5px;}
    .menu-item-list-title{line-height: 45px;height: 45px;}
    .menu-item-list-title-fl{font-size: 18px;}
    .menu-item-list-content-list-fl{font-size: 16px;}
    .menu-item-list-title-fr-img {width: 8px;height: 13.3px;}
    .menu-item-list-content-list{padding-top: 19px;}
    .milclf-img{display: inline-block;width: 7px;margin-left: 15px;    vertical-align: middle;}
    .menu-item-list-content-list-fr{line-height: 100%;}



    /*四个图表12.13修改*/
    .row-menu-list{width: 55px;height: 55px;position: relative;margin-left: 3.6%;}
    .row-menu-list-t{display: block;position: absolute;width: 75px;left: 0;text-align: left;}
    .row-menu-list-img{    width: 50%;}
    .row-menu-container{padding-bottom: 39px;}
    .row-menu-list-t{color: white;}
    .row-menu-list-t-add{color: #ffc700;}
    .row-menu-list{margin-left: 2%;}
    .row-menu-list-img {
        margin-right: 1%;}


}